.maiuscula{
    text-transform: uppercase;
}

.formPgCartao font{
    font-size: 11px;
    font-weight: normal;
}
.form2{
    display: none;
}
.formEndereco{
    display: none;
}
.formLaudoEndereco{
    display: none;
}
.formNotaCnpj{
    display: none;
}
.lblLaudo{
    display: none;
}
.respForm, .respFormPg{
    color: red;
    font-style: italic;
}
.border-error{
    border-color: red;
}
.form{
    color: #333;
    margin: 15px 0;
}
.form input{
    color: #333;
}
.form select{
    color: #333;
}

.field{
    //border: 1px solid #aaa;
    margin: 15px 0;
    padding-bottom: 10px;
    border-radius: 4px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
legend{
    width: auto;
    border-bottom: 1px solid #aaa;
}
.field legend{
    border: none;
    padding: 0 5px;
    color: #333;
    font-weight: bold;
    font-size: 23px;
}

